* {
    font-family: lalezar, Fallback, sans-serif!important;
}
body, html {
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.rowBox {
    width: 200px;
    height: 200px;
    background: url(sortino.co/assets/img/product/productaxbox.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px auto 0 auto;
}
@media only screen and (max-width:576px) {
    .container1 {
    display: none;
}
}.slideshow-container {
    position: relative;
    margin: auto;
    display: none;
    width: 200px;
    height: 200px;
    margin-top: 80px;
}
.prev {
    position: absolute;
    top: 43%;
    left: 0;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.next {
    position: absolute;
    top: 43%;
    right: 0;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.mySlides {
    background: url(sortino.co/assets/img/product/productaxbox.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
    opacity: .4;
}
to {
    opacity: 1;
}
}@keyframes fade {
    from {
    opacity: .4;
}
to {
    opacity: 1;
}
}@media only screen and (max-width:576px) {
    .slideshow-container {
    display: flex;
    justify-content: center;
}
}.container2 {
    margin-top: 80px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    
}
.productAx {
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;
}
.productTable {
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;

}
@media only screen and (max-width:900px) {
    .container2 {
    height: 500px;
    margin:0 auto;
    flex-direction: column-reverse;
    width:300px;
    margin-bottom:20px;
}
.container2 img{
    width:280px;
    margin:0 auto;
    align-items : center;
}
}.axPayani {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    margin-top:100px !important;background-repeat: no-repeat !important;background-size: cover !important;
}
@media only screen and (max-width:576px) {
    .axPayani {
    background-size: cover;
}
}@media only screen and (min-width:1500px) {
    .axPayani {
    width: 75vw;
    margin: 0 auto;
    background-size: cover;
}
}@font-face {
    @media only screen and (max-width: 600px) {
    .footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 300px;
    background-color: light-gray;
}
.khat, .footerSub1 {
    display: none;
}
.footerSub4 img {
    width: 80px;
}
}}.footer {
    width: 100%;
    height: 130px;
    background-color: lightgrey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    color: gray;
}
.footer .footerSub1 {
    transform: translateY(-55px);
}
@media only screen and (max-width:600px) {
    .footer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 300px;
    background-color: light-gray;
}
.khat, .footerSub1 {
    display: none;
}
.footerSub4 img {
    width: 80px;
}
}@media only screen and (min-width:1500px) {
    .divBala{
    width:100%;
    background: linear-gradient(white, lightgray);

    }
    .footer {
    width: 75vw;
    margin: 0 auto;
    
    
}
.axPayani {
    width: 75vw;
    margin: 0 auto;
    background-size: cover;
}
}.footerSub2 {
    display: flex;
}
.khat {
    font-size: 45px;
    color: gray;
    font-family: dddddddd!important;
}